
<div *ngIf="data.length==0" class="loader" style="position: absolute;top: 0px; left: 0px;margin-left: 50%;margin-top: 50%;width:40px;height:40px">
  <img src="../../assets/loader.gif" style="width: 100%;height: 100%;">

  <!--<div class="custom-modal" *ngIf="showPopUp" (click)="isShowPopUp($event)">-->
    <!--<div class="custom-modal-continer">-->
      <!--<div class="box text-center" id="custom-modal-id">-->
        <!--<span class = "glyphicon glyphicon-remove pull-right" style="cursor:pointer" (click)="showPopUp=false;"></span>-->
        <!--<p>What would you like to do?</p>-->
        <!--<button class = "btn pull-left" (click)="showPopUp=false;openAddNewConceptForm()" > Add Concept</button>-->
        <!--<button class="btn pull-right" (click) = "showPopUp=false;openAddNewProblemForm()"> Add Problem</button>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->


</div>
<div class="row">



  <div style="display: flex; justify-content: center; padding: 3%">
    <input style="text-align: center" *ngIf="config.filtering" placeholder="Search"
           [ngTableFiltering]="config.filtering"
           class="form-control"
           (tableChanged)="onChangeTable(config)"/>
  </div>
</div>
<br>




<ng-table [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
</ng-table>
<pagination *ngIf="config.paging"
            class="pagination-sm"
            [(ngModel)]="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event">
</pagination>
<pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>

<div *ngIf="showPopUp">
  <button md-raised-button color="primary" (click)="showPopUp=false;openAddNewConceptForm()" > Add Concept</button>
  <button md-raised-button color="primary" (click)="showPopUp=false;openAddNewProblemForm()" > Add Problem</button>
</div>
