<!--<md-sidenav-container class="side-nav-container">-->
  <!--&lt;!&ndash;<md-sidenav style="width: 11%" #sidenav class="side-nav" opened="true" mode="side">&ndash;&gt;-->
    <!--&lt;!&ndash;<md-nav-list>&ndash;&gt;-->
      <!--&lt;!&ndash;<md-list-item>&ndash;&gt;-->
        <!--&lt;!&ndash;<a routerLink="add-topic">Topics</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->
      <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->
      <!--&lt;!&ndash;<md-list-item>&ndash;&gt;-->
        <!--&lt;!&ndash;<a  routerLink="add-concept">Concepts</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->
      <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->
      <!--&lt;!&ndash;<md-list-item>&ndash;&gt;-->
        <!--&lt;!&ndash;<a routerLink="login">Logout</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->
      <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->
    <!--&lt;!&ndash;</md-nav-list>&ndash;&gt;-->
<!--{path:'add-concept',component:AddConceptComponent},-->
  <!--{path:'add-problem',component:AddProblemComponent}-->
  <!--&lt;!&ndash;</md-sidenav>&ndash;&gt;-->

  <!---->

<!--</md-sidenav-container>-->

<md-toolbar color="primary" style="display: flex; alignment: center">
  Welcome to eTutor Admin Panel
  <!--<md-icon style="text-align: end">account_circle</md-icon>-->
</md-toolbar>

<router-outlet></router-outlet>
