<div  *ngIf="dataGoingToServe" class="loader" style="z-index: 10;position: absolute; left:50%; top: 50%; height: 25%; width: 10%;">
  <img src="../../assets/loader.gif" style="width: 100%;height: 100%;">
</div>



<md-card class="container-fluid addTopicForm">
  <div>
    <form [formGroup]="addTopicForm" (ngSubmit)="saveEvent(addTopicForm.value)" novalidate>

      <md-toolbar color="accent">
        Add Topic
      </md-toolbar>

      <md-card style="display: flex; flex-direction: column;justify-content: center">

      <div>
        <p>Chapter Selected is : {{getChapterName()}}</p>
      </div>

      <md-toolbar color="primary" *ngIf="statusMessage"><md-toolbar-row style="display: flex;justify-content: center">
        {{statusMessage}}
      </md-toolbar-row></md-toolbar>



      <div style="display: none" class="form-group" [ngClass]="{'error': ChapterId?.invalid && ChapterId?.touched}">
        <input [(ngModel)]="chapterId" formControlName="ChapterId" id="ChapterId"/>
        <em *ngIf="ChapterId?.invalid && ChapterId?.touched">Required</em>
      </div>


      <div class="form-group" [ngClass]="{'error': Name?.invalid && Name?.touched}">
        <label for="Name">Topic Name </label>
        <input formControlName="Name" id="Name" type="text"/>
        <em *ngIf="Name?.invalid && Name?.touched">Required</em>
      </div>


      <div class="form-group" [ngClass]="{'error': Order?.invalid && Order?.touched}">
        <label for="Order">Order:</label>
        <input formControlName="Order" id="Order" type="number"/>
        <em *ngIf="Order?.invalid && Order?.touched">Required</em>
      </div>

      <button md-raised-button color="primary" style="width: 15%" type="submit" class="btn btn-primary" [disabled]="addTopicForm.invalid">Save</button>
      <button style="width: 15%;margin-top: 2%" type="button" class="btn btn-default" (click)="cancel(addTopicForm)">Cancel</button>
      </md-card>
    </form>
  </div>
</md-card>
